@import url(https://fonts.googleapis.com/css?family=Roboto:700);

/*Basic scrolling animation.  If the text lingers on screen increase {left:120%;} and {right: 120%;}*/
@keyframes LRMove {    
    0% {left: 120%;}
    100% {left: 0%;} 
}

@keyframes RLMove {
    0% {right: 0%;}
    100% {right: 120%;}
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    background: {background_color};
    font-family: 'Roboto';
    font-weight: 700;
    font-size: {font_size};
    line-height: 1.5em;
    color: {text_color};
}

#log>div {
    position: absolute;
}

.colon {
    display: none;
}

#log {
    width: 100%;
  	height: 100%;
}

#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message,#log .meta {
    vertical-align: top;
    display: table-cell;
    padding-bottom: 0.1em;
}

#log .meta {
    width: 35%;
    text-align: right;
    padding-right: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#log div {
	/*chat transparency*/
    opacity: .8;    
	/*Adjust scroll speed here. Replace 5s*/
    animation: RLMove 5s linear forwards;  
  	white-space: nowrap
  
}

/*Badges and usernames are disabled. Enabling them and adding them to the animation kind of breaks it.
 Feel free to get it working if you'd like*/
.badge {
    display: none;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
}

.name {
  	display: none;
    margin-left: 0.2em;
}

